<div class="container p-5">
    <div class="p-5 pb-5">
        <h1 class="text-center">Port Folio</h1>
        <div class="progress col-1 mx-auto" style=" height: 3px; ">
            <div class="progress-bar bg-dark " role="progressbar " style="width: 100% " aria-valuenow="100 " aria-valuemin="0 " aria-valuemax="100 "></div>
        </div>
    </div>

    <!-- card -->
    <div class="row row-cols-1 row-cols-md-2 pt-5">
        <div class="col mb-4">
            <div class="card">
                <img src="../../../assets/site pg1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Construction Site</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg1">View Project</button>
                    <div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img src="../../../assets/site pg2.png" alt="" srcset="" style="height: 320px;">
                                <div class="modal-body">
                                    <h3>Construction Site</h3>
                                    <p>This is service provider Site.</p>
                                    <a href="https://github.com/Ahmedraza96/web-theme" target="_blank" rel="noopener noreferrer"><button class="btn btn-primary">Visit Site <i class="fas fa-external-link-alt"></i></button></a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="../../../assets/web pg1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Car Purchase</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img src="../../../assets/web pg2.png" alt="" srcset="" style="height: 320px;">
                                <div class="modal-body">
                                    <h3>Cars Search App</h3>
                                    <p>This is the site where you can search items / cars build on JQuery!</p>
                                    <a href="https://github.com/Ahmedraza96/Search-Feild" target="_blank"><button class="btn btn-primary">View Site  <i class="fas fa-external-link-alt"></i></button></a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="../../../assets/product pg2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Online Shopping</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg2">View Project</button>
                    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img src="../../../assets/product pg3.png" alt="" srcset="" style="height: 320px;">
                                <div class="modal-body">
                                    <h3>Online Products</h3>
                                    <p>this is the Online Shopping Site.</p>
                                    <a href="https://github.com/Ahmedraza96/Api" target="_blank"> <button class="btn btn-primary">Visit Site <i class="fas fa-external-link-alt"></i></button></a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="../../../assets/psl.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg3">View Project</button>
                    <div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <img src="../../../assets/psl.png" alt="" srcset="" style="height: 320px;">
                                <div class="modal-body">
                                    <h3>Blog</h3>
                                    <p>This is a Blog post Site</p>
                                    <a href="https://github.com/Ahmedraza96/PSl-UI" target="_blank" rel="noopener noreferrer"><button class="btn btn-primary">Visit Site <i class="fas fa-external-link-alt"></i></button> </a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>