<div class="">
    <div class="container">
        <div class="p-5">
            <h1 class="text-center">About</h1>
            <div class="progress col-1 mx-auto" style=" height: 3px; ">
                <div class="progress-bar bg-dark " role="progressbar " style="width: 100% " aria-valuenow="100 " aria-valuemin="0 " aria-valuemax="100 "></div>
            </div>
        </div>
        <div class="row image text-center">
            <div class="col-lg-3 col-md-6 col-s-12 p-5">
                <img src="../../../assets/responsive.svg" alt="" srcset="">
                <h2>Responsive</h2>
                <p>My layouts will work on any device, big or small.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-s-12 p-5">
                <img src="../../../assets/fast.svg" alt="" srcset="">
                <h2>Fast</h2>
                <p>Fast load times and lag free interaction, my highest priority.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-s-12 p-5 ">
                <img src="../../../assets/intuitive.svg" alt="" srcset="">
                <h2>Intuitive</h2>
                <p>Strong preference for easy to use, intuitive UX/UI.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-s-12 p-5 ">
                <img src="../../../assets/dynamic.svg" alt="" srcset="">
                <h2>Dynamic</h2>
                <p>Websites don't have to be static, I love making pages come to life.</p>
            </div>
        </div>
    </div>
    <div class=" container d-flex ">
        <div class="row justify-content-center ">
            <div class="col-lg-5 col-s-12 col-m-5">
                <div class="mb-4 ">
                    <img src="../../../assets/IMG-20200107-WA0040.jpg " alt="Ahmed " class="rounded-circle my-img ">
                </div>
                <div>
                    <h2>Ahmed Raza</h2>
                    <p>I'm a Front-End Developer from Pakistan. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-s-12 col-m-4">
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">HTML</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 75%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">90%</div>
                    <!-- <div class="progress-bar " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">90%</div> -->
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">CSS</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 75%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">90%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">JQuery</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 65%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">80%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">Javscript</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 55%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">75%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">React</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 55%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">75%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">Angular</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 55%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">75%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">PHP</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 45%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">60%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">SQL</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 35%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">50%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">UI Design</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 65%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">80%</div>
                </div>
                <div class="progress mb-2 " style="height: 35px; ">
                    <div class="progress-bar bg-secondary " role="progressbar " style="width: 15%; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 ">Photoshop</div>
                    <div class="progress-bar bg-info " role="progressbar " style="width: 35%; " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 ">50%</div>
                </div>
            </div>
        </div>
    </div>
</div>